In [45]:
"""
Script to read data from json databases and save them as DataFrames

Created on: Tue May 5 23:02:40 CEST 2018
@author: Wiktor

TO DO:
- how to deal with studies with multiple authors?
"""

import pandas as pd
import json
from pprint import pprint
import os
import sys


if sys.platform == "linux":
    studies_path = "/home/wiktor/git/MasterThesis/Literature/Competition_Studies_Database/studies.json"
    authors_path = "/home/wiktor/git/MasterThesis/Literature/Competition_Studies_Database/authors.json"   
else:    
    studies_path = "/Users/Wiktor/Dropbox/Git/MasterThesis/Literature/Competition_Studies_Database/studies.json"
    authors_path = "/Users/Wiktor/Dropbox/Git/MasterThesis/Literature/Competition_Studies_Database/authors.json"


# Reading authors database
with open(os.path.join(authors_path)) as file:
    authors = json.load(file)

def get_author_institution(json_authors):
    """
    Function that reads in the database .json file and returns flat pd.DataFrame with author and her/his institutions 
    """
    
    # Load authors and list of their affiliations as DataFrame
    institutions = pd.DataFrame.from_dict(json_authors, orient='index')['affiliations']

    # List of authors that will be mapped to institutions
    # (necessary since there can be more than one institution per author)
    authors_index = institutions.index.values

    # Merge all institutions into single list and to each institution append corresponding author (dict)
    authors_institutions = [dict(affiliation, **{'author': author}) for ls_affiliations, author in zip(institutions, authors_index)
                                                            for affiliation in ls_affiliations]

    # Convert authors institutions to DataFrame
    authors_institutions = pd.DataFrame(authors_institutions)
    
    return authors_institutions

# Reading studies database
with open(os.path.join(studies_path)) as file:
    studies = json.load(file)
    
    
def get_study_author(json_studies):
    
    # Load articles and their authors as a list
    articles = pd.DataFrame.from_dict(studies, orient='index')['authors']

    # Create index of aticles
    articles_index = articles.index.values

    # Join all authors into a single list and to each author assign corresponding article 
    studies_authors = [dict(author, **{'study': article}) for ls_articles, article in zip(articles, articles_index) 
                                                          for author in ls_articles]

    # Get only author and study index (ignore name and surname)
    studies_authors = pd.DataFrame(studies_authors)[['index', 'study']]

    studies_authors.columns = ['author_index', 'study_index']

    return studies_authors

In [22]:
authors_institutions = get_author_institution(authors)
studies_authors = get_study_author(studies)

# Number of unique authors (126)
authors_institutions['author'].nunique()

#Number of authors affiliated with university (97)
sum(authors_institutions['university'])

# Number of authors affiliated with central bank (19)
sum(authors_institutions['central bank'])

# Number of authors affiliated with governmental institutions (13)
sum(authors_institutions['governmental'])

# Number of authors affiliated with governmental institutions (12)
sum(authors_institutions['private'])

13

### Authors statsistics

|                                         |     |
|-----------------------------------------|-----|
| # of authors                            | 126 |
| # of authors affiliated with CB         | 19  |
| # of authors affiliated with university | 97  |
| # of authors affiliated with private    | 13  |
| # of authors affiliated with government | 12  |

In [47]:
authors_institutions

,author,central bank,governmental,institution,private,share,university
0,Adnan_Kasman,0,0,Dokuz Eylul University,0,1.00,1
1,Ahmad_Binti,0,0,University of Malaya,0,1.00,1
2,Ahmed_Ammar,0,0,University of Sfax,0,1.00,1
3,Alessandro_Giustiniani,0,1,International Monetaty Fund,0,1.00,0
4,Ali_Kutan,0,0,University of Southern Illinois,0,1.00,1
5,Alli_Nathan,0,0,University of Calgary,0,1.00,1
6,Ananthakrishnan_Prasad,0,1,International Monetary Fund,0,1.00,0
7,Anastasia_Fillipaki,1,0,Bank of Grece,0,0.50,0
8,Anastasia_Fillipaki,0,0,Athens University,0,0.50,1
9,Anthony_Rezitis,0,0,University of Patras,0,1.00,1
10,Armenuhi_Mkrtchyan,1,0,Central Bank of Armenia,0,1.00,0
11,Arun_Misra,0,0,"Indian Institute of Technology, Kharagpur",0,1.00,1
12,Barbara_Casu,0,0,University of Wales,0,1.00,1
13,Bashar_Abu_Khalaf,0,0,University of Jordan,0,1.00,1
14,Bogdan_Dumitrescu,0,0,Bucharest School of Economics,0,1.00,1
15,Bruno_Paula_Rocha,0,0,Universidade Federal do ABC,0,1.00,1
16,Bruno_Sergi,0,0,University of Messina,0,1.00,1
17,Burak_Gunalp,0,0,Hacettepe University,0,1.00,1
18,Chan_SokGee,0,0,University of Malaya,0,1.00,1
19,Christian_Daude,0,0,Development Bank of Latin America,0,1.00,1
20,Christos_Staikouras,0,0,Athens University,0,1.00,1
21,Claudia_Girardone,0,0,University of Essex,0,1.00,1
22,Collins_Ntim,0,0,University of Southampton Business School,0,1.00,1
23,Cristina_Ruza,0,0,Uned University,0,1.00,1
24,Daniel_Stavarek,0,0,Silesian University,0,1.00,1
25,David_Humphrey,0,0,Florida State University,0,1.00,1
26,Dilruba_Karim,0,0,Brunel University,0,0.50,1
27,Dilruba_Karim,0,0,National Institute of Economic and Social Rese...,1,0.50,0
28,Edwin_Neave,0,0,Queen's University,0,1.00,1
29,Emmanuel_Mamatzakis,0,0,Athens University,0,1.00,1
...,...,...,...,...,...,...,...
111,Rima_Turk_Ariss,0,0,Economic Research Forum,1,0.10,0
112,Saeed_AlMuharrami,0,0,Sultan Qaboos University,0,1.00,1
113,Saibal_Ghosh,1,0,Reserve Bank of India,0,1.00,0
114,Sakshi_Sharma,0,0,University of Delhi,0,1.00,1
115,Sami_Mensi,0,0,University of Manouba,0,1.00,1
116,Samuel_Fosu,0,0,University Birmingham,0,1.00,1
117,Sanderson_Abel,0,0,Nelson Mandela Metropolitan University,0,1.00,1
118,Santiago_Carbo,0,0,Universidad de Granada,0,1.00,1
119,Sarantis_Lolos,0,0,Panteion University,0,1.00,1
120,Sayan_Ghosh,0,0,University of Delhi,0,1.00,1
121,Semih_Yildirim,0,0,York University,0,1.00,1
122,Serhii_Bohma,1,0,Central Bank of Ukraine,0,1.00,0
123,Sherill_Shaffer,0,0,University of Wyoming,0,0.90,1
124,Sherill_Shaffer,0,0,"Centre for Applied Macroeconomic Analysis, Aus...",0,0.10,1
125,Simon_Wolfe,0,0,University of Southampton,0,1.00,1
126,Steve_Motsi,0,0,University of Stellenbosch Business School,0,1.00,1
127,Stijn_Claessens,0,1,Bank of International Settelments,0,0.93,0
128,Stijn_Claessens,0,0,Centre for Economic Policy Research,1,0.03,0
129,Stijn_Claessens,1,0,Federal Reserve Board,0,0.03,0
130,Suzana_Andrade,0,1,"Gabinete de Estratégia e Estudos, Ministério d...",0,1.00,0
131,Taner_Sekmen,0,0,Eskisehri Omangazi University,0,1.00,1
132,Tendai_Gwatidzo,0,0,University of the Witwatersrand,1,1.00,0
133,Teodora_Barbu,0,0,Bucharest School of Economics,0,1.00,1
134,Tianshu_Zhao,0,0,University of Stirling,0,1.00,1
135,Tuncay_Celik,0,0,Hacettepe University,0,1.00,1
136,Victor_Murinde,0,0,University of Birmingham,0,1.00,1
137,Waleed_Murjan,0,0,Arab Bank,1,1.00,0
138,Witness_Simbanegavi,0,1,National Treasury of South Africa,0,1.00,0
139,Xiaoqiang_Cheng,0,1,Hong Kong Monetary Authority,0,1.00,0
140,Yusuf_Khabari,0,0,Cardiff University,0,1.00,1